# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.env/
.ENV/
.VENV/

# pipenv
Pipfile.lock

# pyenv
.python-version

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/